<h2>Posts</h2>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h3><%= post.title %></h3>
      <%= post.body %>
    </div>
  <% end %>
</div>

<%= link_to "Add new post", new_post_path %>
