<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <%= stylesheet_link_tag "style" %>
</head>
    <header>
      <h1>Blog</h1>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>
    </footer>
  </div>
</body>
</html>
